*{
	font-family: "Century Gothic";
margin: 0px;
	scroll-behavior: smooth;
}
/*NAVIGATION BAR*/
.navigation_bar{
position: sticky;
top: 0px;
text-align: right;
padding-right: 10px ;
height: 30px;
padding: 10px;
width: 100%;
background: black;

}
.navss{
	visibility: hidden;
}
li.nav{
	list-style-type: none;
	display: inline-flex;
	padding-right: 5%;
	

}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #FFB3C1;
	transition: 0.5s;

}

/*LANDING PAGE*/
.home_page{
background-image: url(img/background.png);
	
	height: 95vh;
	width: 100%;

}
header{
	background: linear-gradient(to right, black, black, transparent);
height: 95vh;
width: 100%;
color: white;
font-size: 50px;
}

#txt{
	padding-top: 15%;
	text-align: center;
}

#icon{
	height: 30px;
	width: 30px;
}
.menu{
	height: 30px;
	width: 30px;
	visibility: hidden;
	opacity: 0;
}

button{
	height: 30px;
	width: 150px;
	border: 1px solid #FFB3C1;
}
button:hover{
	background:#FFB3C1 ;
	color: black;
	transition: 0.5s;

}
button a{
	color: black;
}
button a:hover{
	color: black;
}


/*ABOUT PAGE*/
.about_me{
height: 95vh;

}
article{
	text-align: center;
	width: 50%;
	margin-left: 25%;

}

#illustration{
	height: 200px;
	float: left;
	animation: movement 6s infinite;
}

@keyframes movement{
0% {transform: translateX(0px);
transform: translateY(0px);}
25%  { transform: translateX(2px);
transform: translateY(2px); }
75%  { transform: translateX(10px);
transform: translateY(10px); }
100% { transform: translateX(5px);
transform: translateY(5px); }
}

#illustration2{
	height: 200px;
	float: right;
	margin-right: 0px;
	animation: movement2 4s infinite;
}
@keyframes movement2{
0% {transform: translateX(5px);
transform: translateY(5px);}
25%  { transform: translateX(10px);
transform: translateY(10px); }
75%  { transform: translateX(2px);
transform: translateY(2px); }
100% { transform: translateX(0px);
transform: translateY(0px); }
}

.container 
{
	
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}
.container .card
{
	
	max-width: 300px;
	height: 420px;
	background: black;
	margin: 10px 10px;
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
	border: 2px solid #FFB3C1;
	border-radius: 20px;
}

.container .card .content
{
	
	padding: 10px 15px;
	text-align: center;
	color: white;
	font-size: 15px;
	transition: 0.3s ease-in-out;
}
/*.container .card:hover .content
{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}*/
.po{
	font-size: 20px;
	text-align: center;
	color: #FFB3C1;
}
#po{
	font-size: 50px;
	text-align: center;
	color: #FFB3C1;
}
/*PORTFOLIO*/
.portfolio{
	font-size: 50px;
	text-align: center;
	color: #FFB3C1;
	background: linear-gradient(to right, black, black, transparent);

}
#portfolio{
margin-top: 75vh;
}

#long{
height: 300px;
display: inline-flex;
align-content: space-between;
padding: 30px;
}
#long:hover{
	transform: scale(1.5);
	transition: 1s;
	cursor: zoom-in;
}
#short{
height: 300px;
}
#short:hover{
	transform: scale(1.5);
	transition: 1s;
	cursor: zoom-in;
}
/*CONTACT FORM*/
.contact_form{
height: 90vh;

}

.pink{
	font-size: 50px;
	text-align: center;
	color: #FFB3C1;
}
form{ margin-top: 60px;
			align-content: center;
			left: 25%;
			height: 75%;
			width: 700px;
			padding: 12px 15px;
			margin-left: 25%;
			margin-top: 50px;


		}
	.form{
						align-content: center;
			left: 20%;
			height: 75%;
			width: 400px;
			margin-left: 15%;
			margin-top: 50px;
		}
		.form_control{
			width: 600px;
			background: transparent;
			border: none;
			outline: none;
			border-bottom: 1px solid gray;
			font-size: 18px;
			margin-bottom: 5px;
		}
input{

}
		.input_ctrl{
display: flex;
flex-direction: column;
		}
		.input_ctrl input{
display: block;

width: 90%;
font-size: 12px;
		}
		textarea{
display: block;
padding: 10px;
width: 90%;
font-size: 12px;
		}
		.input_ctrl input:focus{
			outline: 0;
		}
		.input_ctrl.success input{
			border-color: green;
		}

		.input_ctrl.error input{
			border-color: red;
		}
.input_ctrl.error{
			color: red;
			height: 13px;
			font-size: 15px;
			padding: 15px;
			text-align: right;
		}
	 #memo{
		font-size: 15px;
		height: 150px;
		width: 90%;
		}
		#phone{
			font-size: 15px;
		}
		#name{
			font-size: 15px;
		}
		#email{
			font-size: 15px;
		}


/*FOOTER*/
footer{
	background-color: #FFB3C1;
	height: 40px;
	width: 100%;
	text-align: center;
}


/*CODE FOR RESPONSIVENESS*/

@media screen and (max-width: 768px){
.menu{
	height: 30px;
	width: 30px;
	visibility: visible;
	opacity: 1;

}
.modal li a{
display: flex;
color: white;
font-size: 30px;
text-transform: uppercase;
text-decoration: none;
list-style-type: none;
text-align: center;
}
.modal li a:hover{
	color: #FFB3C1;
}
.navss{
	visibility: visible;
}
.modal{
position: absolute;
	top: 80px;
	bottom: 0;
	right:0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(10, 19, 20, 0.9);
	transition: all 0.4s;
	visibility: hidden;
	opacity: 0;
	list-style-type: none;

}
.modal:target{
	visibility: visible;
	opacity: 1;
}
.modal:target #title{
	visibility: hidden;
	opacity: 0;

}

.modalcontent{
	position: relative;
	background: black;
	width: 50%;
	max-width: 90%;
	padding: 1em 2em;
	border-radius: 4px;
}
 .modalclose{
 	position: absolute;
 	top: 0;
 	right: 15px;
 	color: white;
 	text-decoration: none;
 	font-size: 50px;
 }

.home_page{
background-image: url(img/background2.jpg);
	height: 95vh;
	width: 100%;
	background-size: cover;
	
}
li{
	visibility: hidden;
}
	header{
	background: rgba(0, 0, 0, 0.7);
height: 95vh;
width: 100%;
color: white;
font-size: 30px;
}
#txt{
	padding-top: 35%;
	text-align: center;
}
#icon{
	height: 20px;
	width: 20px;
}

button{
	height: 20px;
	width: 100px;
	border: 1px solid #FFB3C1;
	font-size: 10px;
}
.about_me{
height: 100%;
}
article{
	text-align: center;
	width: 50%;
	margin-left: 25%;

}
.po{
	font-size: 20px;
	text-align: center;
	color: #FFB3C1;
}
#po{
	font-size: 40px;
	color: #FFB3C1;
}
#short{
height: 10%;
width: 100%;
}

.contact_form{
height: 90vh;

}

.pink{
	font-size: 40px;
	text-align: center;
	color: #FFB3C1;
}
form{ margin-top: 60px;
			align-content: center;
			left: 25%;
			height: 75%;
			width: 50%;
			padding: 12px 15px;
			margin-left: 25%;
			margin-top: 50px;


		}
	.form{
			align-content: center;
			left: 20%;
			height: 100%;
			width: 400px;
			margin-left: 15%;
	
		}
		.form_control{
			width: 600px;
			background: transparent;
			border: none;
			outline: none;
			border-bottom: 1px solid gray;
			font-size: 18px;
		}
input{

}
		.input_ctrl{
display: flex;
flex-direction: column;
		}
		.input_ctrl input{
display: block;
width: 90%;
font-size: 12px;
		}
		textarea{
display: block;
width: 90%;
font-size: 12px;
		}
		.input_ctrl input:focus{
			outline: 0;
		}
		.input_ctrl.success input{
			border-color: green;
		}

		.input_ctrl.error input{
			border-color: red;
		}
.input_ctrl.error{
			color: red;
			height: 13px;
			font-size: 15px;
			padding: 15px;
			text-align: right;
		}
	 #memo{
		font-size: 15px;
		height: 150px;
		width: 90%;
		}
		#phone{
			font-size: 15px;
		}
		#name{
			font-size: 15px;
		}
		#email{
			font-size: 15px;
		}
	footer{
		margin-top: 60px;
	background-color: #FFB3C1;
	height: 30px;
	width: 100%;
	text-align: center;
}


}